---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article class="post-content">
            {% if page.toc and page.toc.beginning %}
            <div id="table-of-contents">
              {{ content | toc_only }}
            </div>
            <hr>
            {% endif %}
            <div id="markdown-content">
              {{ content | inject_anchors }}
            </div>
          </article>

          {%- if page.related_publications != null and page.related_publications.size > 0 -%}
          {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
          <h2>References</h2>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
          </div>
          {%- endif %}

          {%- if site.giscus.repo and page.giscus_comments -%}
            {% include giscus.html %}
          {%- endif -%}
        </div>
